/************************
    Clear defaults.
*************************/

@import 'reset.css';

body {
    background: #005F73;
    background-image:  url( "../images/jedi-battle.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    color: aliceblue;
}

.defender {
    visibility: hidden;
}

.enemy {
    visibility: hidden;
}
 
img {
    width: 150px;  
} 

figure {
    display: inline-block;
    margin: 10px; 
    width: 160px; 
} 
 
figcaption
 {  
    text-align: center;
    width: 150px;  
} 
 

img.player { 
    border: aliceblue 10px solid;
}

img.jedi { 
    border: green 10px solid;
}

img.sith { 
    border: red 10px solid;
}

.character {
    margin: 25px auto;
}
.health {
    font-size: 18px;
}