/************************
    Clear defaults.
*************************/

@import 'reset.css';

body {
    background: #005F73;
    background-image:  url( "../images/jedi-battle.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    color: aliceblue;
}

img {
    margin: 5px;
    width: 100px; 
}

img.player { 
    border: aliceblue 10px solid;
}

img.jedi { 
    border: green 10px solid;
}

img.sith { 
    border: red 10px solid;
}