/************************
    Clear defaults.
*************************/

@import 'reset.css'; 
@import url('https://fonts.googleapis.com/css?family=Anton'); 
@font-face {
    font-family: 'StarJedi';
    src: url('../fonts/starjedi/Starjedi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    background: #005F73;
    background-image:  url( "../images/jedi-battle.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    color: #f0f8ff; 
    font-family: 'StarJedi', 'Anton', sans-serif; 
    text-align: center;
    
}

h1,
h2,
figcaption,
.character-description,
.health {
    line-height: 150%;

}

h1 {
    font-size: 65px; 
}

h2 { 
    font-size: 24px; 
}

.health {
    font-size: 18px;
}

.whisper {
    color: lightgray;
}

.health, 
.enemy {
    visibility: hidden;
}

.fight,
.defender
 {
    display: none; 
}

#fight-attack {
    background-color: #c1e0fc;
    border: 2px #003742 solid;
    border-radius: 12px;
    color: #003742;
    padding: 15px 32px;
    font-family: 'StarJedi', 'Anton', sans-serif; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
 
figure {
    display: inline-block;
    margin: 10px; 
    width: 160px; 
} 
 
figcaption
 {  
    font-size: 12px; 
    width: 150px;  
} 
 
img.character {
    width: 150px;  
    border-radius: 12px;
} 

img.final {
    width: 500px;  
}

img.player { 
    border: aliceblue 10px solid;
}

img.jedi { 
    border: green 10px solid;
}

img.sith { 
    border: red 10px solid;
}

.character {
    margin: 25px auto;
}