/************************
    Clear defaults.
*************************/

@import 'reset.css';

body {
    background: #005F73;
    background-image:  url( "../images/jedi-battle.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    color: aliceblue;
}

.character {
    margin: 5px;
    width: 100px; 
}

.player.character { 
    border: aliceblue 10px solid;
}

.defender.character { 
    border: green 10px solid;
}

.enemy.character { 
    border: red 10px solid;
}